* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: lightgray;
    height: 100%;
    width: 100%;
    margin: 0;
}
hr {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
header {
    position: sticky;
    border-bottom: 1px solid white;
    top: 0;
    width: 100%;
    padding: 16px;
    background-color: rgb(58, 33, 33);
}
nav.default-nav a{
    text-decoration: none;
    margin: 8px;
    font-size: 20px;
    color: yellow;
    padding: 4px;
}
header a:hover {
    text-decoration: underline;
    background-color: hsl(0deg 0% 50.2% / 26%);
}
main,
section {
    width: auto;
    padding: 0 16px 0 16px;
}
.main-intro {
    color: yellow;
    width: 100%;
    margin: 0;
    padding: 16px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Sono', sans-serif;
}

.intro-text {
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Sono', sans-serif;
    margin: 0;
    padding: 16px;
    text-align: center;
    font-size: 35px;
    color: lightblue;
}

.dynamic-text {
    color: yellow;
}

.container {
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(58, 33, 33);
}

.image-cont {
    width: auto;
    /* background-color: red; */
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.contact-cont {
    /* background-color: yellow; */
    min-height: 10vh;
    width: 100%;
    padding-left: 10rem;
    padding-right: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons {
    margin: 2rem;
    scale: 200%;
}

.icons:hover {
    color: yellow;
    scale: 250%;
}

.my-image {
    height: 15rem;
    width: 15rem;
    border-radius: 10%;
    /* scale: 50%; */
}

.about-me-head , #hobbies > h1 , #education > h1 {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Sono', sans-serif;
    font-family: 'Teko', sans-serif;
}

.about-me-head {
    margin: 0;
    padding: 1rem 2rem 2rem 2rem;
    text-align: center;
}

.about-me {
    min-height: 25vh;
}
form h1 {
    text-align: center;
    margin: auto;
    margin: 4px 0 4px 0;
}
.contact-me {
    /* background-color: burlywood; */
    margin-top: 16px;
}
.education {
    margin-top: 16px;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.education h1 {
    margin-bottom: 16px;
}
#ed-table th {
    color: white;
    width: auto;
    background: #000;
}
#ed-table td {
    min-width: 10vw;
    text-align: center;
    background: rgb(185, 183, 183);
}
section#hobbies {
    margin: 16px;
}
section#hobbies > h1 {
    text-align: center;
}
section#hobbies > ul {
    max-width: 135px;
    margin: auto;
}
form.contact-form {
    outline: 2px solid;
    border-radius: 5%;
    max-width: 400px;
    margin: auto;
    padding: 8px;
}
form label,
form button {
    display: block;
    font-weight: 600;
}

form input,
form textarea {
    outline: 1px solid;
    width: 100%;
    margin: 4px 0 4px 0;
}

/* form input:focus , form textarea:focus {
    outline: 2px solid green;
} */
#ed-table th {
    text-align: center;
}
footer {
    margin-top: 16px;
    border-top: 4px solid;
    font-weight: 500;
    text-align: center;
    min-height: 5vh;
}
.mobile-nav , .mobile-links {
    display: none;
}

section#mobile-links{
    display: revert;
    position: fixed;
    padding: 0;
    height: 0;
    background: white;
    width: 100%;
    overflow: hidden;
    top: 0;
    z-index: 1;
    transition: height 0.4s ease-in-out;
}

section#mobile-links ul {
    margin-top: 48px;
    list-style: none;
}

section#mobile-links li {
    margin-bottom: 16px;
    font-size: 1.5rem;
}

section#mobile-links a {
    color: #000;
    text-decoration: none;
}

section#mobile-links a:hover {
    text-decoration: underline;
}


#close-menu {
    position: absolute;
    right: 16px;
    top: 16px;
    font-size: x-large;
    border: none;
    background: transparent;
}

@media ( width < 500px ) {
    .default-nav {
        display: none;
    }
    .mobile-nav {
        display: revert;
    }
    #menu-btn {
        color: yellow;
        background-color: transparent;
        display: block;
        margin-left: auto;
        margin-right: 8px;
    }
    header {
        border: none;
        padding: 8px;
    }
    .intro-text {
        font-size: 1rem;
    }
    .main-intro {
        font-size: 1.5rem;
    }
}